html{
    box-sizing:border-box;
    font-family: 'Gothic A1';
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*Utility*/
img{
    border-radius: 10px;
    max-width: 100%;
}
/*-------*/

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    margin: 0;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 500px;
}

header nav ul li a{
    font-size: 25px;
    color: white;
}

header nav ul li a:hover{
    text-decoration: underline;
}

#description{
    background-image: url("../img/spacex-dragon-night-optimized.jpg");
    background-size: cover;
    padding: 1px;
    color: white;
}

.subheader{
    text-align: center;
    font-size: 100px;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 50px 30px;
    align-items: center;
}

.content p{
    font-size: 28px;
    width: 600px;
    text-align: center;
}

.content img{
    border: 2px solid white;
}

#configurations{
    padding: 1px;
    background-color: black;
}

.box{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    color: white;
    font-size: 18px;
    padding: 0px 0px 10px 30px;
    padding-bottom: 10px;
}

.box ul li{
    padding-bottom: 25px;
    list-style-type: none;
}

#configurations article:nth-of-type(-n+2){
    border-bottom: 1px solid white;
}

.box img{
    width: 35%;
    height: 35%;
}

.list-subheader{
    font-size: 30px;
    padding: 0px 0px 10px 30px;
    color: white;
}

footer{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 5px;
}

footer h6{
    text-align: center;
}

