html{
    box-sizing:border-box;
    font-family: 'Gothic A1';
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*Utility*/
img{
    border-radius: 10px;
}
/*-------*/

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    margin: 0;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 500px;
}

header nav ul li a{
    font-size: 25px;
    color: #00558C;
}

header nav ul li a:hover{
    text-decoration: underline;
}

#description{
    background-image: url("../img/Dragon-sunset-awesome.jpeg");
    padding: 1px;
    color: white;
}

.subheader{
    text-align: center;
    font-size: 50px;
    color: white;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 50px 30px;
    align-items: center;
}

.content p{
    font-size: 28px;
    width: 600px;
    text-align: center;
}

.content img{
    border: 2px solid white;
}

#configurations{
    padding: 1px;
    background-color: black;
}

.box{
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}

#configurations article:nth-of-type(-n+2){
    border-bottom: 1px solid white;
}

.list-subheader{
    font-size: 30px;
    color: white;
}

footer h6{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}

