html{
    box-sizing:border-box;
    font-family: "Comfortaa";
}

*,*:before,*:after{
    box-sizing: inherit;
}

.box{
    /*position: relative;*/
    background-color: green;
    margin: 20px auto;
    padding: 10px 10px;
}

.box img{
    border-radius: 5px;
}

#box1 img, #box3 img{
    float: right;
}

#box2 img{
    float: left;
}

article p{
    font-size: 2rem;
    text-align: center;
    margin: auto;
}

/*------*/
body{
/*    background: url("../img/Dragon-sunset-awesome.jpeg") no-repeat center center / cover;
*/    
    /*filter: blur(5px); need to figure out how to blur my background without affecting my text*/ 
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

header nav ul li{
    list-style-type: none; 
}

header nav ul li a{
    font-size: 20px;
}

header nav ul li a:hover{
    text-decoration: underline;
}

#motto{
    background-color: red;
}

#workplease{
    /*max-width: 700px;*/
    margin: auto;
}

#description{
    background-color: red;
    background: url("../img/dragon-standing-up.jpg") no-repeat cover cover;
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 200px;
    
}

main #workplease h1{
    font-size: 50px;
    text-align: center;
}

main #workplease h2{
    font-size: 50px;
    text-align: center;
}

footer{
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
}
