html{
    box-sizing:border-box;
    font-family: "Comfortaa";
}

*,*:before,*:after{
    box-sizing: inherit;
}
/*Utility*/

/* scratching this idea
.box{
    background-color: white;
}*/

/*------*/
body{
    background: url("../img/Dragon-sunset-awesome.jpeg") no-repeat center center / cover;
    filter: blur(5px);
}

header{
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 500px;
}

header nav ul li{
    list-style-type: none; 
}

header nav ul li a{
    font-size: 20px;
}

header nav ul li a:hover{
    text-decoration: underline;
}

main #workplease h1{
    font-size: 50px;
}

footer{
    text-align: center;
    background-color: black;
    background-size: ;
}
