html{
    box-sizing:border-box;
    color: white;
    font-family: Poppins;
    
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*Utility*/
img{
    max-width: 75%;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}

ul{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
.section-title{
    font-size: 30px;
}

.black-line{
    border-bottom: 10px solid black;
}

.centered{
    text-align: center;
}
/*-------*/

body{
    margin: 0;
    background: linear-gradient(90deg, #2A2359,#BF247A,#BF3939, #BF247A, #2A2359);
    background-size: 300%;
    animation: gradient 20s infinite ease-in-out;
}

/*Background Radial Gradient Animation
@keyframes zoom{
    0%{
        background-size: 100% 100%;
    }
    100%{
        background-size: 200% 200%;
    }
}
*/

/*Background Linear Gradient Animation*/

@keyframes gradient{
    0%{
        background-position: 0%, 50%;
    }
    50%{
        background-position: 100%, 50%;
    }
    100%{
        background-position: 0%, 50%;
    }
}


header{
    display: flex;
    justify-content: center;
}

header #name{
    font-size: 25px;
}

header #name h1{
    margin-bottom: -20px;
}

#projects ul li a:hover{
    text-decoration: underline;
}

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    text-align: center;
    font-size: 30px;
}

.grid-container li{
    padding-bottom: 125px;
}

#snippets .grid-container:last-child{
    border-radius: 50%;
}

/*Creating a dropdown menu when hovering over CSS Positioning*/
.dropdown-menu{
    position: relative;
    display: inline-block;
}
/*Hides the menu by default*/
.dropdown{
    display: none;
    font-size: 20px;
}
/*Hovering over dropdown-menu applies these attributes to dropdown*/
.dropdown-menu:hover .dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#progressive-enhancement p{
    max-width: 700px;
    margin: auto;
}




