html{
    box-sizing:border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*-----Responsive Images------*/
img{
    max-width: 100%; /*ensures the images do not breach the width of the parent element*/
}

/*-----Utility Classes------*/
.container{
    max-width: 960px;
    width: 80vw;
    margin: 40px auto;
}

.img-right{
    float: right;
}

/*-----Global Styles------*/

body{
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header.primary{
    background-color: #5833A6;
    color:white;
    text-align:center;
    text-shadow: 2px 2px black; /*Parameters: x-y positions of the shadow, color*/
    padding-bottom: 40px;

    /*long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;

    /*single-value short form (applies to all sides)*/
    padding: 20px;

    /*Top-right-bottom-left padding*/
    padding:40px,40px,40px,40px;
}

header.primary h1{
    font-size: 2.4rem;
    margin-bottom: 5px;
}

header.primary h1 a{
    color:white;
    text-decoration: none; /*Hides the underline in a hyperlink (not good practice as it hides visual indicators)*/
}

header.primary h2{
    margin: 0px 0px 25px 0px; /*top right bottom left*/
    font-size: 1.4rem;
    
}

header.primary nav{
    max-width: 900px; /*the size of the border will not extend farther than 900 pixels*/
    /*background: red;*/
    margin:auto; /*using text-align centers the contents inside the block but not the block itself.*/
}

header.primary nav a{
    color:white;
    text-decoration: none;
    background-color:rgba(0,0,0,0.5);
    padding: 7.5px 10px; /*top and bottom, left and right*/
    border-radius: 20px; /*curves the sides of the border*/
    border: 1px solid white;
    transition: 0.5s;
}

header.primary nav a:hover{
    background-color: rgba(255,0,0,0.2)
}

header.primary ul{
    padding:0; /* this was used to remove the space used by bullet points*/
    display: flex; /*sets the element to a flex container, allowing you to use flex properties*/
    flex-direction: row; /*setting display property to "flex" automatically sets this property to row*/
    justify-content:space-evenly; /*evenly spaces the content inside the ul*/
}

header.primary ul li{
    list-style-type: none; /*removes indicators (being the bullet points in this case)*/
}

#content{
    line-height: 1.5;
}

#content h2{
    border-bottom: 1px dotted black;
}

#content h3{
    border-left: 7.5px solid blue;
    padding: 7.5px;
}

#content p:last-of-type{
    border-bottom: 1px dotted rgba(0,0,0,0.3);
    padding-bottom: 50px;
}

#blog{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 2rem;
    border-bottom: 1px dotted black;
    padding: 2rem;
}
#blog .post{
    border: 2px solid black;
    box-shadow: 5px 5px 15px black;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: 0.5s;
}

#blog .post:hover{
    border: 4px solid black;
    box-shadow: 10px 10px 20px black;
    padding: 20px;
    border-radius: 10px;
    font-size: 0.8rem;
}

#blog figure{
    margin: 0;
}

#blog figcaption{
    text-transform: uppercase;
    font-size: 0.6rem;
    text-align:center;
    padding-bottom: 15px;
}

#blog header h2{
    margin:0;
    font-size: 25px;
}

#blog a{
    color: red;
}


#practice h2{
    border-bottom: 1px dotted black;
}




aside[role="complementary"]{
    background-color: green;
    padding: 2rem;
}

aside .container{
    display:flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

aside .container a{
    color: white;
}

aside .container a:last-of-type{
    display: block;
    margin-top: 0.5rem;
    text-align: right;
}

aside .widget footer{
    display: none;
}

#colophon{
    background-color: red;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

/*
Colors to use:
#5833A6
#8679D9
#2E3D59
#141A26
#0D0D0D
*/










/*--------------------MEDIA QUERIES----------------*/
/* Effective website compatibility across all devices by specifying element parameters given specific conditions*/

@media screen and (max-width:600px){
    header.primary nav a{
        flex-direction: column; /*setting display property to "flex" automatically sets this property to row*/
        gap:20px;
        max-width: 250px;
        margin:auto;
    }

    header.primary nav a{
        display:block;
    }
}