html{
    box-sizing:border-box;
    font-family: "Rubik";
}

*,*:before,*:after{
    box-sizing: inherit;
}

header{
    text-align: center;
}

header h1{
    background-color: blue;
}

header h2{
    border:5px;
    background-color: red;
}

body{
     /*#141A26*/
}



#projects ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    background-color:red;
    padding-left: 5px;
}

/*
Colors to use:
#5833A6
#8679D9
#2E3D59
#141A26
#0D0D0D
*/