html{
    box-sizing:border-box;
    color: black;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*utility*/
.dropdown{
    display: inline-block;
    position: relative;
}

body{
    margin: 0;
}

header{
    display: grid;
    padding: 1px;
    background-color: blue;
}

header #name{
    background-color: red;
    margin-left: 20px;
    max-width: 275px;
    text-align: center;
}

/*.list ul{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.list ul li{
    grid-column-start: 2;
}*/



